/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */

.hljs {
  display: block;
  background: #f4f4f4;
  padding: 1.5em;
  color: #333333;
  overflow-x: auto;
}

.hljs-comment,
.hljs-meta,
.hljs.hljs-label::before {
  color: #969896;
}

.hljs-string,
.hljs-variable,
.hljs-template-variable,
.hljs-strong,
.hljs-emphasis,
.hljs-quote {
  color: #e86700;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-type {
  color: #cf146b;
}

.hljs-literal,
.hljs-symbol,
.hljs-bullet,
.hljs-attribute {
  color: #0086b3;
}

.hljs-section,
.hljs-name {
  color: #63a35c;
}

.hljs-tag {
  color: #333333;
}

.hljs-title,
.hljs-attr,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #8c65c7;
}

.hljs-addition {
  color: #55a532;
  background-color: #eaffea;
}

.hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec;
}

.hljs-link {
  text-decoration: underline;
}

pre code.language-nohighlight {
    color: #555;
}

.hljs.hljs-label {
    position: relative;
    padding-top: 2em;
}

.hljs.hljs-label::before {
	position: absolute;
	right: 0;
	top: 0;
	padding: 3px 5px;
	border: 1px solid #777;
	border-top-width: 0;
	border-right-width: 0;
	border-radius: 0 4px;
	font-size: 13px;
	background-color: #e2e2e2;
	color: #7E7E7E;
}

.hljs.language-python.hljs-label::before {
    content: 'Python';
}

.hljs.language-java.hljs-label::before {
    content: 'Java';
}

.hljs.language-js.hljs-label::before {
    content: 'JavaScript';
}

.hljs.language-csharp.hljs-label::before {
    content: 'C#';
}
