<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Intro to Spring Boot: Views (Part 3) :: Unit 3: Back-End Java Skill Track</title>

        <link rel="stylesheet" href="https://education.launchcode.org/skills-back-end-java/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://education.launchcode.org/skills-back-end-java/css/highlight.launchcode.css">
        <link rel="stylesheet" href="https://education.launchcode.org/skills-back-end-java/css/main.css">
        <link rel="stylesheet" href="https://djwbyvgln9kts.cloudfront.net/launch_ed_style/custom.css">
    </head>
    <body id='page-intro-to-spring-boot-views-part-3'>

        <header class="navbar navbar-default navbar-fixed-top">

            <ul class="nav navbar-nav">

                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-menu-hamburger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/classes/">
                                        Classes
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/studios/">
                                        Studios
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/assignments/">
                                        Assignments
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/objectives/">
                                        Objectives
                                    </a>
                                </li>
                                                            <li class="active lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/videos/">
                                        Videos
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/resources/">
                                        Resources
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/java4python/">
                                        Java for Python Programmers
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/glossary/">
                                        Glossary
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/about/">
                                        About This Unit
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="https://education.launchcode.org/skills-back-end-java/issues/">
                                        Reporting Issues
                                    </a>
                                </li>
                                                        <li role="separator" class="divider"></li>
                            <li>
                                <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">Search This Site</a>
                            </li>
                        </ul>
                    </li>

                
            </ul>

            <div>
                <a class="navbar-brand site-title navbar-center" href="https://education.launchcode.org/skills-back-end-java/">
                    <h1>Unit 3: Back-End Java Skill Track</h1>
                </a>
            </div>

            <div class="nav navbar-nav navbar-right">
                <a class="navbar-brand dabomb" href="https://education.launchcode.org/skills-back-end-java/"></a>
            </div>

        </header>

        <!-- Search Modal -->
        <div id="modalSearch" class="modal fade" role="dialog">
           <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Search Unit 3: Back-End Java Skill Track</h4>
                </div>
                <div class="modal-body">
                    <script>
                      (function() {
                        var cx = "014657181352409571810:sq_rqxppnji";
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

           </div>
        </div>

        <main class="container-fluid">
            <div class="row">

                <section id="content" class="col-sm-offset-2 col-sm-8">
                                        <h1>Intro to Spring Boot: Views (Part 3)</h1>
                    <div class="youtube-wrapper"><iframe width="776" height="437" src="https://www.youtube.com/embed/pLVjuN4OPy8" frameborder="0" allowfullscreen></iframe></div>
<h2 id="notes">Notes</h2>
<h3 id="create-a-thymeleaf-template">Create a Thymeleaf Template</h3>
<p>To prevent having to modify the HTML template to match Thymeleaf specs every time you want to make a new template, you can instead create a reusable Thymeleaf template. To do so, right click in the left hand pane and select <em>New-&gt;Edit File Templates...</em> and paste in the basic code that you will use for all your Thymeleaf templates:</p>
<pre><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"/&gt;
    &lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>Then name the template &quot;Thymeleaf&quot; and give it the extension <code>.html</code>. From now on, instead of selecting to create a new HTML file, you can select to create a new Thymeleaf file.</p>
<h3 id="utilize-a-base-template-and-extensions">Utilize a Base Template and Extensions</h3>
<p>Next, let's refactor out duplicate code by utilizing a base template and template extenstions. To do so, we'll first create a <code>fragments.html</code> file that will be our base template and will live in the <code>templates</code> directory (<em>not</em> <code>templates.cheese</code> directory). This file consists of the basic HTML above with some modifications to create elements and link resources that will be reusable by the other templates in our application. </p>
<pre><code class="language-HTML">&lt;!DOCTYPE html&gt;
&lt;html lang="en" xmlns:th="http://www.thymeleaf.org"&gt;
&lt;head th:fragment="head"&gt;
    &lt;meta charset="UTF-8"/&gt;
    &lt;title th:text="${title}"&gt;My Cheeses&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

&lt;/body&gt;
&lt;/html&gt;</code></pre>
<p>We can utilize the fragment above in our <code>index.html</code> and <code>add.html</code> files by deleting what is presently in the <code>&lt;head&gt;</code> section and inserting this instead:</p>
<pre><code class="language-HTML">&lt;head th:replace="fragments :: head"&gt;&lt;/head&gt;</code></pre>
<p>We can also add a navigation element to the body of our <code>fragments.html</code> as follows:</p>
<pre><code class="language-HTML">&lt;nav th:fragment="navigation"&gt;
    &lt;a href="/cheese"&gt;List&lt;/a&gt;
    &lt;a href="/cheese/add"&gt;Add&lt;/a&gt;
&lt;/nav&gt;</code></pre>
<p>And we can utilize it in our <code>index.html</code> and <code>add.html</code> files by removing the <code>&lt;a&gt;</code> tag that took us back to the &quot;Add&quot; page and insert this below the title <code>&lt;h1&gt;</code> tag instead:</p>
<pre><code class="language-HTML">&lt;nav th:replace="fragments :: navigation"&gt;&lt;/nav&gt;</code></pre>
<p>Remember that fragments consist of an entire HTML element and the content inside of it. What belongs in a fragment? Anything that you will use in more than one template!</p>
<h3 id="add-stylesheets-and-javascript-files">Add Stylesheets and JavaScript Files</h3>
<p>Follow the video instructions to add directories for JavaScript and CSS files to the <code>static</code> directory in <code>resources</code>. Then add a <code>styles.css</code> file and a <code>script.js</code> file. Then add this to your <code>styles.css</code>:</p>
<pre><code class="language-css">body {
    font-family: sans-serif;
}</code></pre>
<p>Now let's add CSS and JavaScript files to the <code>&lt;head&gt;</code> of our <code>fragments.html</code> so that they will be available to our template extensions:</p>
<pre><code class="language-HTML">    &lt;link rel="stylesheet" th:href="@{/css/styles.css}"/&gt;
    &lt;script type="text/javascript" th:src="@{/js/script.js}"&gt;&lt;/script&gt;</code></pre>
<h2 id="code">Code</h2>
<p>We start this lesson with the code in the <code>video-views-pt3-start</code> branch of the cheese-mvc repo: <a href="https://github.com/LaunchCodeEducation/cheese-mvc/tree/video-views-pt3-start" target="_blank">starting code</a>.</p>
<p>We end this lesson with the code in the <code>video-views-pt3-end</code> branch of the cheese-mvc repo: <a href="https://github.com/LaunchCodeEducation/cheese-mvc/tree/video-views-pt3-end" target="_blank">ending code</a>.</p>
                                    </section>

            </div>
        </main>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="https://education.launchcode.org/skills-back-end-java/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://education.launchcode.org/skills-back-end-java/js/highlight.pack.js"></script>
        <script type="text/javascript" src="https://education.launchcode.org/skills-back-end-java/js/libgif.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');

                // Syntax highlighting
                hljs.configure({ displayLabels: true });
                hljs.initHighlightingOnLoad();
            });
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', "UA-78748330-4", 'auto');
            ga('send', 'pageview');

        </script>

    </body>
</html>
