<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Assignment: TechJobs (MVC Edition) :: Unit 3: Back-End Java Skill Track</title>

        <link rel="stylesheet" href="http://education.launchcode.org/skills-back-end-java/css/bootstrap.min.css">
        <link rel="stylesheet" href="http://education.launchcode.org/skills-back-end-java/css/highlight.launchcode.css">
        <link rel="stylesheet" href="http://education.launchcode.org/skills-back-end-java/css/main.css">
        <link rel="stylesheet" href="https://djwbyvgln9kts.cloudfront.net/launch_ed_style/custom.css">
    </head>
    <body id='page-assignment-techjobs-mvc-edition'>

        <header class="navbar navbar-default navbar-fixed-top">

            <ul class="nav navbar-nav">

                
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle glyphicon glyphicon-menu-hamburger" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
                        <ul class="dropdown-menu">
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/classes/">
                                        Classes
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/studios/">
                                        Studios
                                    </a>
                                </li>
                                                            <li class="active lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/assignments/">
                                        Assignments
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/objectives/">
                                        Objectives
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/videos/">
                                        Videos
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/resources/">
                                        Resources
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/java4python/">
                                        Java for Python Programmers
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/glossary/">
                                        Glossary
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/about/">
                                        About This Unit
                                    </a>
                                </li>
                                                            <li class=" lc-button">
                                    <a href="http://education.launchcode.org/skills-back-end-java/issues/">
                                        Reporting Issues
                                    </a>
                                </li>
                                                        <li role="separator" class="divider"></li>
                            <li>
                                <a href="#modalSearch" data-toggle="modal" data-target="#modalSearch">Search This Site</a>
                            </li>
                        </ul>
                    </li>

                
            </ul>

            <div>
                <a class="navbar-brand site-title navbar-center" href="http://education.launchcode.org/skills-back-end-java/">
                    <h1>Unit 3: Back-End Java Skill Track</h1>
                </a>
            </div>

            <div class="nav navbar-nav navbar-right">
                <a class="navbar-brand dabomb" href="http://education.launchcode.org/skills-back-end-java/"></a>
            </div>

        </header>

        <!-- Search Modal -->
        <div id="modalSearch" class="modal fade" role="dialog">
           <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                   <button type="button" class="close" data-dismiss="modal">&times;</button>
                   <h4 class="modal-title">Search Unit 3: Back-End Java Skill Track</h4>
                </div>
                <div class="modal-body">
                    <script>
                      (function() {
                        var cx = "014657181352409571810:sq_rqxppnji";
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                </div>
                <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

           </div>
        </div>

        <main class="container-fluid">
            <div class="row">

                <section id="content" class="col-sm-offset-2 col-sm-8">
                                        <h1>Assignment: TechJobs (MVC Edition)</h1>
                    <h2 id="introduction">Introduction</h2>
<p>Your first task as an apprentice went well! You and Kathy built the TechJobs console prototype, and after demoing it to the Company Team at LaunchCode, the project has been green-lit to be fully built out as a web application.</p>
<p>The first step in this process will be to quickly develop a <a href="https://en.wikipedia.org/wiki/Minimum_viable_product" target="_blank">minimum viable product</a>, or MVP. The goal is to get a functioning web app up and running with as little work as possible, so additional feedback and testing can be done early on in the development process. Then additional behind-the-scenes work will be carried out to fully develop the model and data side of the application.</p>
<p>After working with Kathy on the console demo, you'll be working with Eliot on this project. Here's a picture of Eliot:</p>
<p><img src="../images/eliot.jpg" alt="Eliot" /></p>
<p>Eliot was once a LaunchCode apprentice as well, so he knows just what it's like to be in your shoes. He's done some initial work on the project and left you some TODOs that he knows you can handle.</p>
<h2 id="learning-objectives">Learning Objectives</h2>
<p>In this project, you'll show that you can:</p>
<ul>
<li>Read and understand code written by others</li>
<li>Work within the controller and view portions of a Spring Boot application</li>
<li>Create new handler methods to process form submission</li>
<li>Use Thymeleaf syntax to display data within a view</li>
</ul>
<h2 id="techjobs-mvc-edition">TechJobs (MVC Edition)</h2>
<p>You'll start with some code that Eliot has written to get you started. The idea behind your current assignment is to quickly deliver a functioning Spring Boot application, so you'll focus on the controllers and views.</p>
<p>In order to do this, you'll be reusing the <code>JobData</code> class and <code>job_data.csv</code> file from the console app. You know you'll have to go back and rewrite the data portion of the application in the future, to make a true, database-backed model, but using the existing <code>JobData</code> class to provide some basic data functionality will let you focus on the views and controllers for now.</p>
<h2 id="your-assignment">Your Assignment</h2>
<p>Eliot has created a Spring Boot application and filled in some features. It has controllers and views for a home page, along with functionality to display lists of data values for each column/field of the data (employer, location, etc). Eliot also started working on the search functionality, but only got as far as writing the code to display the search form.</p>
<p>He's handed it off to you to finish the rest. You'll add code to controllers and views to process and display search results, along with allowing users to see all jobs in the system via the List page.</p>
<h3 id="getting-started">Getting Started</h3>
<p>Set up a local copy of the project:</p>
<ul>
<li>Visit the <a href="https://github.com/LaunchCodeEducation/techjobs-mvc" target="_blank">repository page</a> for this project and fork the repository to create a copy under your own GitHub account.</li>
<li>Back in IntelliJ, if you have a project open, select <em>File &gt; Close Project</em>.</li>
<li>On the IntelliJ welcome screen, click <em>Check out from Version Control</em>, select Github.</li>
<li>Choose your fork from the repository dropdown, select the parent directory where you'd like to store your project, and hit <em>Clone</em>.</li>
<li>In the screens that follow:
<ul>
<li>Choose <em>Create Project From Existing Sources</em> on the first pane</li>
<li>Select <em>Auto Import</em> in the Gradle configuration pane</li>
<li>Select defaults on all other panes</li>
</ul></li>
</ul>
<p>Go ahead and start up the application (via the Gradle pane, <em>Tasks &gt; Application &gt; bootRun</em>), so you can refer to both the code as well as the running app while we look at what's in place already.</p>
<aside class="aside-note">
<p>You'll spend a lot of time reading and understanding the code that's provided for you. That's okay, and in fact should be considered part of the assignment! It's an essential skill for a programmer to be able to read and understand code that others have written.</p>
</aside>
<h4 id="the-model">The Model</h4>
<aside class="aside-note">
<p>When referring to Java class locations, we'll usually omit the leading path: <code>src/main/java/org/launchcode/</code>.</p>
</aside>
<p>The &quot;model&quot; is contained in the <code>JobData</code> class, which is in the <code>models</code> package. We put &quot;model&quot; in quotes, since this class isn't a model in the typical, object-oriented sense that we usually mean (maybe a better name for this assignment would be TechJobs VC!).</p>
<p>The <code>JobData</code> class is the exact same class that you used in the console app. The only modification is that Eliot changed the path to the <code>job_data.csv</code> file so that it could be stored in the <code>src/main/resources</code> directory.</p>
<p>You'll use some of the static methods provided by <code>JobData</code> in your controller code. Since you're already familiar with these, we'll leave it to you to review their functionality as you go.</p>
<h4 id="the-controllers">The Controllers</h4>
<p>Expand the <code>controllers</code> package, and you'll see that you have three controllers already in place. Let's look at these one at a time.</p>
<h5 id="homecontroller">HomeController</h5>
<p>This class has only one handler method, <code>index</code>, which displays the home page for the app. As you can see, this controller renders the <code>index.html</code> template (in <code>src/main/resources/templates</code>).</p>
<p>If you haven't already, go to the app's home page to see what this looks like.</p>
<h5 id="listcontroller">ListController</h5>
<p>This controller provides functionality for users to see lists of all values of a given data column: employer, location, skill, and position type. If you look at the corresponding page at <code>/list</code> you'll see there's also an &quot;All&quot; option presented. That one doesn't work yet; you'll fully implement that view in your work.</p>
<p>At the top of <code>ListController</code> is a constructor that we use to populate <code>columnChoices</code> with values. The <code>columnChoices</code> HashMap plays the same role as it did in the console app, which is to provide a centralized collection of the different list and search options presented throughout the user interface.</p>
<p><code>ListController</code> also has <code>index</code>, <code>listColumnValues</code>, and <code>listJobsByColumnAndValue</code> handler methods, with routes as annotated above the method definitions. The first of these simply displays the different types of lists that the user can view. The latter two display actual data obtained from <code>JobData</code>.</p>
<p>In the <code>listColumnValues</code> method, the controller uses the query parameter passed in as <code>column</code> to determine which values to fetch from <code>JobData</code>. In the case of <code>"all"</code> it will fetch all job data, and then render the <code>list-jobs.html</code> view template. In all other cases, it fetches only the values for the given column and passes them to the <code>list-column.html</code> view template. We'll explore these templates in a moment.</p>
<p>In the <code>listJobsByColumnAndValue</code> method, we take in two query parameters: <code>column</code> and <code>value</code>. This has the net result of working similarly to the search functionality, in that we are &quot;searching&quot; for a particular value within a particular column and then displaying jobs that match. However, this is slightly different from the other way of searching in that the user will arrive at this handler method as a result of clicking on a link within one of our views, rather than via submitting a form. We'll see where these links originate when we look at the views. Also note that the <code>listJobsByColumnAndValue</code> method doesn't deal with an &quot;all&quot; scenario; it only displays jobs matching a specific value in a specific column.</p>
<h4 id="the-views">The Views</h4>
<p>Let's turn our attention to the views.</p>
<h5 id="fragmentshtml">fragments.html</h5>
<p>Open up the <code>src/main/resources/templates/index.html</code> file in IntelliJ, and in your browser navigate to the site's home page. You'll notice that there is a fair amount of markup visible on the page that isn't contained in <code>index.html</code>. This is because we're using two fragments from <code>fragments.html</code>: <code>head</code> and <code>page-header</code>. These allow for some basic page structure and navigation to be shared across all of our views. Have a look at <code>fragments.html</code>, but know you won't have to do any work within this file for this assignment.</p>
<aside class="aside-pro-tip">
<p>We use <a href="http://getbootstrap.com/" target="_blank">Twitter's Bootstrap</a> CSS, HTML, and JS framework to provide some styling and functionality to our views. The appropriate files are included at the top of <code>fragments.html</code> and thus are included on every page of our app.</p>
<p>You won't have to explicitly use Bootstrap at all in this assignment, but it's a great way to make your sites look good with minimal work. Consider using it on your own projects!</p>
</aside>
<h5 id="list-views">List Views</h5>
<p>Turn your attention to <code>list.html</code>. This template displays the list options, using data from the <code>columnChoices</code> HashMap passed in via the model as <code>columns</code>. The only remarkable thing in this template is how we generate the links:</p>
<pre><code class="language-html">&lt;a th:href="@{/list/values(column=${column.key})}"
    th:text="${column.value}"&gt;&lt;/a&gt;</code></pre>
<p>We've seen the syntax <code>@{/list/values}</code> to generate a link within a Thymleaf template, but we haven't seen the other portion of the link: <code>(column=${column.key})</code>. This syntax will cause Thymeleaf to generate query parameters for our URL based on the key/value pairs specified.</p>
<p>In <code>list.html</code>, we specify a query parameter named <code>column</code> by using <code>column=</code>. The value of the query parameter is determined dynamically based on the value of <code>${column.key}</code>. Since these values come from <code>columnChoices</code> in the controller, they will be employer, location, etc. When the user clicks on these links, they will be routed to the <code>listColumnValues</code> handler in <code>ListController</code>, which looks for this parameter.</p>
<p>In your browser, click on the Location link. This sends a request as we just outlined, resulting in a list of all of the locations in the data set. The page you're seeing at <code>/list/values?column=location</code> is generated by the <code>list-column.html</code> template. It has a similar structure as <code>list.html</code>, with the exception that the various links are presented in a table, and their URLs have not one, but two, query parameter attributes: one for the column and one for the value. In the case of the locations list, these will result in URL paths like:</p>
<pre><code class="language-nohighlight">/list/jobs?column=location&amp;value=Kansas%20City</code></pre>
<p>(Note that Thymeleaf inserts <code>%20</code> for us, to represent a space, and may actually be hidden in your browser's address bar).</p>
<p>Clicking on these links will display a list of jobs in the given location, via the <code>listJobsByColumnAndValue</code> handler method. However, that display isn't working yet. While the handler method is fully implemented, as we noted above, the view template needs some additional work.</p>
<h5 id="search-view">Search View</h5>
<p>Finally, click on Search from the home page, or the navigation bar, and open up <code>search.html</code>. You'll see a search form (in both the browser and template file) that gives the user the option of searching by a given column, or across all columns. This is an exact visual analog of our console application.</p>
<p>This template will be used to display search results, in addition to displaying the form. This will give the nice user experience of easily searching multiple times in a row.</p>
<h3 id="your-tasks">Your Tasks</h3>
<p>Once you understand the controllers and views that are already in place, you're ready to begin your work. In IntelliJ, select <em>View &gt; Tool Windows &gt; TODO</em> to pop open a small pane at the bottom of the window. This list is populated by any code comments that start with <code>TODO</code>. In particular, you'll see your 3 tasks listed.</p>
<p><img src="../images/task-list-mvc.png" alt="Task List" /></p>
<p>As you work on your tasks, refer to the <a href="http://techjobs-mvc.cfapps.io/" target="_blank">demo app</a>.</p>
<h4 id="add-search-results-handler">Add Search Results Handler</h4>
<p>Add another <code>results</code> handler method to <code>SearchController</code>, overloading the existing method. The method should take in two parameters, specifying the type of search and the search term. In order for the parameters to be properly passed in by Spring Boot, you'll need to name them appropriately, based on the corresponding form field names. You'll also need to use the correct annotations for the method and parameters. To configure the correct mapping route, refer to the form action in <code>search.html</code>.</p>
<p>After looking up the search results via the <code>JobData</code> class, you'll need to pass them into the <code>search.html</code> view via the model. You'll also need to pass <code>ListController.columnChoices</code> to the view, as the existing <code>search</code> handler does.</p>
<h4 id="display-search-results">Display Search Results</h4>
<p>After you have your <code>search</code> handler above passing data to the view, you need to display the data. Open up <code>search.html</code> and create a loop to display each job passed in from the controller. You should put each job in its own table, with one job field per row.</p>
<p>Add the CSS class <code>"job-listing"</code> to each of the tables to get some nice styling, courtesy of Eliot's work!</p>
<h4 id="display-list-of-all-jobs">Display List of All Jobs</h4>
<p>Recall that the page at the path <code>/list/values?column=all</code> doesn't display any results. This page needs to display full job listings, just like the search results page. In fact, you can reuse the code you just wrote in <code>search.html</code> by defining a new fragment in that file, and then including the fragment in <code>list.jobs.html</code>.</p>
<aside class="aside-warning">
<p>For the fragment to work properly in a different file, the data passed into the view via <code>model.addAttribute()</code> must have the same key in both places.</p>
</aside>
<h3 id="sanity-check">Sanity Check</h3>
<p>Before submitting, make sure that your application:</p>
<ul>
<li>Allows a user at <code>/search</code> to search for jobs matching a specific search term, both within a specific column and across all columns.</li>
<li>Displays search results at the same URL as the search form, displaying at <code>/search/results</code>.</li>
<li>Displays jobs with alternately white and gray backgrounds (this is provided by the <code>"job-listing"</code> class).</li>
<li>Displays a listing of all 98 jobs in the system, when the user goes to the List page and selects &quot;All&quot;.</li>
</ul>
<p>Refer to the <a href="http://techjobs-mvc.cfapps.io/" target="_blank">demo app</a> if you're not sure how thing are supposed to work.</p>
<h3 id="how-to-submit">How to Submit</h3>
<p>To turn in your assignment and get credit, follow the <a href="../">submission instructions</a>.</p>
<h2 id="bonus-missions">Bonus Missions</h2>
<p>Here are some additional challenges, for those willing to take them on:</p>
<ul>
<li>When searching, if we select a given field to search within and submit, our choice is forgotten. Modify the view template to keep the previous search field selected when displaying results.</li>
<li>The field names in the tables displaying full job data are not capitalized. Fix this. (<em>Hint:</em> We capitalize the title string in multiple templates, so have a look around.)</li>
<li>In the search results listing and the listing of all jobs, make each value (except name) hyperlinked to the listing of all jobs with that value, as is done on the <code>/list/values</code> page.</li>
<li>
<p>This is a big one. First, a warning:</p>
<aside class="aside-warning">
<p>This task requires material that is covered in class 7, so only take this on if you're willing to work ahead a bit, or have some previous object-oriented programming experience.</p>
</aside>
<p>Notice that we went to the trouble of passing in the <code>actionChoices</code> HashMap to the view in the <code>HomeController.index</code> method. This puts the responsibility of which actions should be presented on the controller, and not the view. However, we didn't go to such lengths for the navigation links displayed on every page of the site. In order to make the navigation links similarly detached, we'd need to pass <code>actionChoices</code> in to <em>every</em> view, since the nav links are generated by <code>fragments.html</code>. We'd have to do something like the line below in every handler method, which would be a pain, not to mention error-prone and difficult to update.</p>
<pre><code class="language-java">model.addAttribute("actions", actionChoices);</code></pre>
<p>Let's fix this.</p>
<ol>
<li>Make a new controller, <code>TechJobsController</code>. This new controller should have a static HashMap, <code>actionChoices</code>. The HashMap should be populated via a no-argument/default constructor, just like <code>columnChoices</code> is populated in <code>ListController</code>. You <em>do not</em> need to add the <code>@Controller</code> annotation to this class.</li>
<li>Write a static method <code>getActionChoices</code> in <code>TechJobsController</code> that returns the <code>actions</code> hash map.</li>
<li>Add the annotation <code>@ModelAttribute("actions")</code> to this method. This annotation will cause the return value of the method to be set in the model with key <code>"actions"</code> for every controller that extends <code>TechJobsController</code>.</li>
<li>Modify every one of your other controllers to extend <code>TechJobsController</code>.</li>
<li>Modify <code>fragments.html</code> to use the passed-in action choices to generate the navigation links.</li>
</ol>
</li>
<li>If you did the previous Bonus Mission, update your code so that <code>columnnChoices</code> also lives in <code>TechJobsController</code>.</li>
</ul>
                                    </section>

            </div>
        </main>

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script type="text/javascript" src="http://education.launchcode.org/skills-back-end-java/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="http://education.launchcode.org/skills-back-end-java/js/highlight.pack.js"></script>
        <script type="text/javascript" src="http://education.launchcode.org/skills-back-end-java/js/libgif.js"></script>

        <script>
            $(function() {
                $("section>h1").wrap('<div class="page-header" />');

                // Syntax highlighting
                hljs.configure({ displayLabels: true });
                hljs.initHighlightingOnLoad();
            });
        </script>

        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', "UA-78748330-4", 'auto');
            ga('send', 'pageview');

        </script>

    </body>
</html>
